.About_section_one .Heading_one h1{
    background: linear-gradient(90deg,#102b51,#f9bf01);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: 700;
    font-family: var(--family1);
    font-size: 6.81vw;
    line-height: 1.15em;
    margin-top: 100px;
}

.About_section_one .Heading_one h2{
    font-family: var(--family1);
    font-size: 1.67vw;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 40px;
 
}

.About_section_one .Heading_one p{
    font-weight: 500;
    font-family: var(--family1);
    font-size: 16px;
    color: #000000;
    padding-right: 205px;
}


.About_section_one .Heading_one img{
    margin-top: 80px;
    margin-bottom: 80px;
}