.backround_vedio{
    position: absolute;
    top: 0;
    z-index: -999;
    width: 100%;
    opacity: 0.5;
    background: linear-gradient(180deg,#040404ea,#f7f2f2);
    padding-bottom: 100px;



  }
  .home_section_one h1{
    font-size: 5vw;
    font-family: var(--family1);
    font-weight: 400;
    margin-top: 50px;
  }
  .home_section_one h2{
    background: -webkit-gradient(linear,left top,right top,from(#102b51),to(#0169f9));
    background: -o-linear-gradient(left,#102b51 0,#f9bf01 100%);
    background: linear-gradient(90deg,#102b51,#f9bf01);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: 700;
    font-family: var(--family1);
    font-size: 6.81vw;
    line-height: 1.15em;

  }

  .home_section_one  p{
    font-family: var(--family1);
    font-size: 1.67vw;
    font-weight: 400;
    margin-top: 40px;
    padding-right: 342px;
  }
  .logo{
    width: 100px;
  }

.home_line{
  top: 50px;
  width: 1px;
  height: 100%;
  background-color: var(--brand_color);
  position: relative;
}  

.home_line::before{

  -webkit-animation: shadow-round 1.5s linear infinite;
  animation: shadow-round 1.5s linear infinite;
  left: auto!important;
  right: 0!important;
  content: '';
  position: absolute;
  top: 0;
 width: 1px;
 height: 50px;

}



 .buttion_primary h6{
  text-decoration: none;
  position: relative;
  top:5px;
  color: rgb(255, 255, 255);
  font-size: 14px;
}
 .buttion_primary{
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  width: 150px;
  height: 50px;
  border-radius: 40px;
  background: linear-gradient(550deg,#102b51,#f9bf01);
  background-clip: border-box;
/* -webkit-background-clip: text; */
/* -webkit-text-fill-color: transparent; */
  display: flex;

  justify-content: center;
  align-items: center;
  margin-left: 0px !important;
  font-family: var(--family1);

  font-weight: 600;
  padding-right: 0px !important;
  text-transform: uppercase;
  top: 10px !important;
  margin-left: 0px !important;
  margin-bottom: 30px;

}
@-webkit-keyframes shadow-round {
  0% {
     height: 10px;
  }

  50% {
 height: 30px;
  }

  to {
      height: 50px;
  }
}
.home_line::after{

  position: absolute;
  top: 37px;
  left: -65px;

}
.home_line .text{
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.229);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: relative;
  left:-24px;
  top: 50px;
  width: 50px !important;
  background-color: white;
}
.home_line .text i{
color: rgba(0, 0, 0, 0.34);


}
.home_section_two{
  padding-bottom: 50px;
  padding-top: 50px;

  margin-top: 250px;
}
.home_section_two .head h1{
  font-size: 3vw;
font-family: var(--family1);
font-weight: 400;
margin-top: 50px;
}

.home_section_two .head p{
  font-family: var(--family1);
color: var(--font_color1);
font-size: 17px;
padding-right: 300px;
}


.home_section_two .card{
cursor: pointer;
  margin-top: 40px;
  border-radius: 25px;

  background-color: #e3e2e2ab;
  padding: 30px;
}

.home_section_two .card:hover{
  box-shadow: rgba(225, 173, 4, 0.35) 0px 5px 15px;
  transition: 0.4s;
}

.home_section_two .card:hover .img img{
  box-shadow: rgba(247, 190, 3, 0.386) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  transition: 0.4s;
}

.home_section_two .card .img{
 display: flex;
 justify-content: center;
}
.home_section_two .card .img img{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 100%;
  width: 100px;
}
.home_section_two .card h2{
  font-family: var(--family1);
  color: var(--font_color1);
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 40px;
}
.home_section_two .card h4{
  font-family: var(--family1);
  color: var(--font_color1);
  font-size: 18px;
  padding-top: 40px;

  color: #6c6c86;
}